@import './styles/variables.scss';

* {
  margin: 0;
}

body {
  color: #fff;
  background-color: map-get($colors, bg);
  font-family: 'Handlee', cursive;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
