.thinking,
.sad,
.happy {
  position: absolute;
}

.thinking {
  top: 181px;
  left: 789px;
  font-size: 100px;
  color: white;
}

.sad {
  top: 167px;
  left: 736px;
}

.happy {
  top: 165px;
  left: 770px;
}
